<div class="Row">
  <div class="col-xs-12">
    <img src="" atl="" class="img-responsive">
  </div>
</div>
<div class="Row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="Row">
  <div class="col-xs-12">
    <div class="button-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipse
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">To shopping list</a>
        </li>
        <li>
          <a href="#">Edit Recipe</a>
        </li>
        <li>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="Row">
  <div class="col-xs-12">
    <p>Description</p>
  </div>
</div>
<div class="Row">
  <div class="col-xs-12">
    <p>Ingrediants</p>
  </div>
</div>