<label>Server Name :{{serverName}}</label>

<input type = "text"
class = "form-control"
[(ngModel)]="serverName"/>

<!--<input type = "text"
       class = "form-control"
       (input)="onUpdateServerName($event)"/>-->

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p *ngIf="isServerAdded()">{{serverName}} {{serverStatusInfo}}</p> *ngIf directive-->
<p *ngIf="isServerAdded()">server was created, server name is :{{serverName}}}</p>
<app-server *ngFor="let server of servers"></app-server>